# Бинарные и временные файлы
*.exe
*.dll
*.bpl
*.dcp
*.dcu
*.obj
*.o
*.tds
*.map
*.lib
*.a
*.so
*.pdb
*.res
*.bak
*.tmp
*.log
*.~*
*.d

# Кеши среды и история
__history/
__recovery/
__astcache/

# Файлы IDE и среды
*.dsk
*.local
*.identcache
*.tvsconfig
*.stat
*.ddp

# Файлы конфигурации проектов
*.dproj.local
*.dproj.*.local
*.cbproj.local
*.cbproj.*.local

# Каталоги с результатами сборки
Win32/Debug/
Win32/Release/
Win64/Debug/
Win64/Release/
Linux64/Debug/
Linux64/Release/
OSX32/Debug/
OSX32/Release/
iOSDevice64/Debug/
iOSDevice64/Release/
Android64/Debug/
Android64/Release/

# Кэш Windows и macOS
Thumbs.db
ehthumbs.db
.DS_Store
Icon?

# Файлы Git
*.orig
*.rej
