*.dcu
*.~*
*.exe
*.obj
*.tds
*.map
*.dsk
__history/
__recovery/
*.identcache
*.local
*.stat
*.ddp
*.dproj.local
*.dproj.*.local
*.tvsconfig
*.tmp
*.log
*.bak
*.bpl
*.dcp
*.drc
*.dmg
*.DS_Store
*.ipch
*.sdf
*.opensdf
*.sqlite
*.class
*.so
*.dll
*.pch
*.pdb
*.rsp
*.sbr
*.tlh
*.tli
*.aps
*.ncb
*.opt
*.plg
*.suo
*.user
*.idb
*.ilk
*.ico
*.png

